@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
</div>
<div style="padding:25px">
    <div class="row">
        <table border="0" width="100%" style="padding:50px">
            <tr>
                <td width="20%" colspan="2">
                    <font color="darkcyan">
                        <h2>
                            <center>Aprende a modificar tu plantilla y hacer todo lo que quieras en tu web</center>
                        </h2>
                    </font>
                    <p style="padding:40px">
                        Combinar el buen manejo de tu plantilla con el conocimiento de códigos básicos para webs te permite hacer páginas totalmente profesionales sin limitación ninguna. Y lo vas a poder hacer de un modo bastante rápido y fácil.

                        En este artículo no voy a enseñarte a ser un experto en código web, sino que te voy a tratar de explicar de manera amena cómo saber lo básico y después, cuando ya hayas aprendido lo necesario, te daré un listado de trucos con código para que puedas hacer cosas como:

                        Quitar la fecha de publicación de tus posts
                        Hacer desaparecer cualquier elemento de tu página
                        Cambiar colores y tamaños a tipografías, botones, fondos
                        Añadir código en tus widgets
                        Cambiar márgenes o espacios entre elementos
                        Personalizar al 100% el comportamiento responsive de tu plantilla según dispositivos
                        Añadir banners con HTML

                    </p>
                </td>
            </tr>
            <tr>
                <td width="20%">
                    <font color="darkcyan">
                        <h2>
                            <center>Aprende a modificar tu plantilla y hacer todo lo que quieras en tu web</center>
                        </h2>
                    </font>
                    <p style="padding:40px">
                        Combinar el buen manejo de tu plantilla con el conocimiento de códigos básicos para webs te permite hacer páginas totalmente profesionales sin limitación ninguna. Y lo vas a poder hacer de un modo bastante rápido y fácil.

                        En este artículo no voy a enseñarte a ser un experto en código web, sino que te voy a tratar de explicar de manera amena cómo saber lo básico y después, cuando ya hayas aprendido lo necesario, te daré un listado de trucos con código para que puedas hacer cosas como:

                        Quitar la fecha de publicación de tus posts
                        Hacer desaparecer cualquier elemento de tu página
                        Cambiar colores y tamaños a tipografías, botones, fondos
                        Añadir código en tus widgets
                        Cambiar márgenes o espacios entre elementos
                        Personalizar al 100% el comportamiento responsive de tu plantilla según dispositivos
                        Añadir banners con HTML

                    </p>
                </td>
                <td width="20%">
                    <font color="darkcyan">
                        <h2>
                            <center>Aprende a modificar tu plantilla y hacer todo lo que quieras en tu web</center>
                        </h2>
                    </font>
                    <p style="padding:40px">
                        Combinar el buen manejo de tu plantilla con el conocimiento de códigos básicos para webs te permite hacer páginas totalmente profesionales sin limitación ninguna. Y lo vas a poder hacer de un modo bastante rápido y fácil.

                        En este artículo no voy a enseñarte a ser un experto en código web, sino que te voy a tratar de explicar de manera amena cómo saber lo básico y después, cuando ya hayas aprendido lo necesario, te daré un listado de trucos con código para que puedas hacer cosas como:

                        Quitar la fecha de publicación de tus posts
                        Hacer desaparecer cualquier elemento de tu página
                        Cambiar colores y tamaños a tipografías, botones, fondos
                        Añadir código en tus widgets
                        Cambiar márgenes o espacios entre elementos
                        Personalizar al 100% el comportamiento responsive de tu plantilla según dispositivos
                        Añadir banners con HTML

                    </p>
                </td>
            </tr>
        </table>                   
    </div>
       <fotter>
           <center>
               <table border="0"  width="100%">
                   <tr>
                       <td id="margenes">
                           <h3>Que hacemos</h3>
                           <ul>
                               <li>Tienda Online</li>
                               <li> Desarrollo web Personalizado</li>
                               <li>Marketing Online</li>
                           </ul>
                       </td>
                       <td id="margenes">
                           <h3>Informacion</h3>
                           <p>
                               Telefono: +5622895644 <br />
                               Movil: +5699564425<br />
                               Email: info@asddd.cl<br />
                           </p>
                       </td>
                       <td id="margenes">
                           <h3>Ubicacion</h3>
                           <address>
                               Av. Las Torres # 3526, San Joaquin<br />
                               Region Metropolitana<br />
                               Santiago, Chile.
                           </address>
                       </td>
                   </tr>
           </table>
           </center>
    </fotter>
</div>